<template name="tripsList">
  {{#if hasTrips}}
    <header id="header">
      <div class="row">
        <h1>Haloa Planner</h1>
      </div>
      <a href="trips/new" class="fab"><i class="fa fa-plus"></i></a>
    </header>
    <section id="content" class="with-header-fab">
      <div class="row">
        <ul class="trips-list">
          {{#each trips}}
            {{> tripRow}}
          {{/each}}
        </ul>
        <hr />
        <a href="trips/new">Create new</a>
      </div>
    </section>

  {{else}}
    <div class="row row-vertical row-center">
      <h1>Travel planner</h1>
      <p>Lorem ipsum dolor sit amet</p>
      <a href="trips/new">Create new</a>
    </div>
  {{/if}}
</template>